img {
    width: 90%;
    height: 90%;

    margin: 10px 10px 10px 10px;
}



.borderOutLine {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px; /*Apply this to index style*/
}

p {
    text-align: center;
}

.column {
    float: left;
    width: 30%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}