.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    background-color: blue; /*Replace with background img*/
    
    margin: auto 20px auto 20px;
    display: inline-block;
    
    outline-color: rgb(199, 57, 81);
    outline-offset: 6px;
    
    transition: 1s;
}

.circle:hover {
    outline-width: 6px;
    outline-style: solid;
}

div > p {
    text-align: center;
}

