html {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 225, 230);
   scroll-behavior: smooth;
}

p, li {
    font-size: 25px;
}

a {
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

.smallText {
    font-size: 14px;
}

.mediumText {
    font-size: 30px;
}

.returnButton {
    background-color: rgb(255, 213, 255);
    border-color: purple;
    border-width: thin;
    text-decoration: none;
    font-size: 25px;
}


.profile {
    width: 50%;
    height: 50%;
}

.column {
    float: left;
    padding: 10px;
}

.half {
    width: 50%;
}

.short {
    width: 45%;
}

.third {
    width: 33.33%;
    padding: 10px;
}

.sidePanel {
    background-color: rgb(250, 117, 161);
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.smallImage {
    width: 60%;
    height: 60%;
}

.contentSize {
    width: 30%;
}

.contentImg {
    width: 85%;
    height: 85%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.scroll-container {
  background-color: rgb(250, 117, 161);
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
}

.scroll-item {
  display: inline-block;
  text-align: center;
  margin-right: 12px;
  vertical-align: top;
}

.smallerImage {
    width: 25%;
    height: 25%;

}

#section1 {
    background-color: transparent;
}

#section2 {
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .scroll-container {
        width: 100%;
    }
}